{{define "board"}}

<div id="board">
    <form hx-post="/check" hx-target="#board" hx-swap="outerHTML">
        {{range $wordIndex, $word := .Words}}
        <div class="word">
            {{range $letterIndex, $letter := $word.Letters}}
            <input class='letter {{if eq $letter.Position "placed"}}green{{else if eq $letter.Position "present"}}yellow{{end}}'
                   {{if eq $.Current $wordIndex}}name="{{$letterIndex}}" required{{else}}disabled{{end}}
                   data-word="{{$wordIndex}}" data-letter="{{$letterIndex}}" value="{{$letter.Value}}"
                   type="text" maxlength="1" autocomplete="off">
            {{end}}
        </div>
        {{end}}

        <button class="submit-btn">Send</button>
    </form>
</div>

{{end}}
